.cards__item {
  background: #fdfdfd;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.card {
  display: flex;
  flex-direction: column;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px;
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.card__name {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.card__duration {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #a0a0a0;
}

.card__btn {
  height: 30px;
  width: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}

.card__btn_type_delete {
  background-image: url(../../images/icon-remove.svg);
}

.card__btn_type_saved {
  background-image: url(../../images/icon-saved.svg);
}

.card__btn_type_save {
  background-image: url(../../images/icon-save.svg);
}

.card__image {
  width: 100%;
  min-height: 203px;
}

@media screen and (max-width: 1023px) {
  .card__image {
    min-height: 190px;
  }
}

@media screen and (max-width: 576px) {
  .card__image {
    min-height: 168px;
  }
}
