.movies {
  display: flex;
  flex-direction: column;
  margin: 70px 70px 0;
}

.movies__line {
  margin: 69px 0 10px;
  border: none;
  border-top: 1px solid #e8e8e8;
}

.movies__btn {
  margin: 50px auto 80px;
  width: 320px;
  height: 36px;
  background-color: transparent;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: black;
  align-self: center;
}

.movies__btn:hover {
  border: 1px solid black;
  cursor: pointer;
  transition: 0.5s linear;
}

@media screen and (max-width: 1023px) {
  .movies {
    margin: 80px 30px 0;
  }

  .movies__line {
    margin: 109px 0 10px;
  }
}

@media screen and (max-width: 576px) {
  .movies {
    margin: 80px 10px 0;
  }

  .movies__line {
    margin: 44px 0 10px;
  }

  .movies__btn {
    width: 240px;
  }
}
