.form__field {
  display: flex;
  flex-direction: column;
}

.form__field-name {
  margin: 0 0 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
}

.form__input {
  padding: 0 0 10px;
  margin: 0 0 6px;
  border: none;
  outline: none;
  border-bottom: 1px solid #e8e8e8;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: black;
}

.form__input:focus {
  border-bottom: 1px solid #000000;
}

.form__input_type_error {
  color: #ff4062;
}

.form__input_type_error:focus {
  border-bottom-color: #ff4062;
}

.form__input-error {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ff4062;
  visibility: hidden;
}

.form__input-error_active {
  visibility: visible;
}
