.about-me {
  padding: 110px 70px 100px;
}

.about-me__title {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: black;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid black;
}

.student {
  margin: 66px 0;
  display: flex;
  justify-content: space-between;
}

.student__info {
  max-width: 600px;
}

.student__name {
  margin: 0 0 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: black;
}

.student__job-age {
  margin: 0 0 26px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: black;
}

.student__bio {
  margin: 0 0 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: black;
}

.student__github {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: black;
  text-decoration: none;
}

.student__github:hover {
  color: grey;
  text-decoration: underline;
}

.student__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

@media screen and (max-width: 1023px) {
  .about-me {
    padding: 90px 50px;
  }

  .student__info {
    max-width: 364px;
  }

  .student__name {
    margin: 0 0 16px;
    font-size: 40px;
    line-height: 40px;
  }

  .student__job-age {
    margin: 0 0 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .student__bio {
    margin: 0 0 87px;
    font-size: 12px;
    line-height: 18px;
  }

  .student__photo {
    width: 255px;
    height: 307px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 576px) {
  .about-me {
    padding: 70px 14px;
  }

  .student {
    margin: 60px 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .student__name {
    margin: 0 0 20px;
    font-size: 30px;
    line-height: 36px;
  }

  .student__job-age {
    margin: 0 0 20px;
    font-size: 11px;
    line-height: 16px;
  }

  .student__bio {
    margin: 0 0 40px;
    font-size: 11px;
    line-height: 16px;
  }

  .student__photo {
    width: 292px;
    height: 352px;
    border-radius: 10px;
    object-fit: cover;
    margin: 0 0 40px;
  }
}
